<h2>Gallery</h2>
<div id="links" data-toggle="modal-gallery" data-target="#modal-gallery">
    <tabset>
        <tab heading="My Pictures" ng-click="getRfidPictures('private')">
            <div ng-show="!rfidPicturesModel.private.length">
                <h3>You don't have any picture yet!</h3>
                <h3>Use your RFID card(s) to upload pictures with Tessel camera!</h3>
                <h4>Go to <a style="text-decoration: none" href="/account">Account Page</a> to register your RFID card(s)</h4>
            </div>
            <div ng-show="rfidPicturesModel.loadingPictures">
                <h4>Loading Pictures... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></h4>
            </div>
            <div class="row" style="display:flex; flex-wrap: wrap;" links id="private">
                <div class="col-sm-6 col-md-3" ng-repeat="pictureUrl in rfidPicturesModel.private">
                    <a class="thumbnail" ng-href="{{pictureUrl}}" data-gallery="#blueimp-gallery-private">
                        <img ng-src="{{pictureUrl}}">
                    </a>
                </div>
            </div>
        </tab>
        <tab heading="Public Pictures" ng-click="getRfidPictures('public')">
            <div ng-show="!rfidPicturesModel.public.length">
                <h3>There is no public picture</h3>
                <h4>Go to <a style="text-decoration: none" href="/account">Account Page</a> to make some pictures public</h4>
            </div>
            <div ng-show="rfidPicturesModel.loadingPictures">
                <h4>Loading Pictures... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></h4>
            </div>
            <div class="row" style="display:flex; flex-wrap: wrap;" links id="public">
                <div class="col-sm-6 col-md-3" ng-repeat="pictureUrl in rfidPicturesModel.public">
                    <a class="thumbnail" ng-href="{{pictureUrl}}" data-gallery="#blueimp-gallery-public">
                        <img ng-src="{{pictureUrl}}">
                    </a>
                </div>
            </div>
        </tab>
        <tab heading="VIP Pictures" ng-click="getRfidPictures('vip')">
            <div ng-show="rfidPicturesModel.loadingPictures || !rfidPicturesModel.vip.length">
                <h4>To see VIP pictures, please use your RFID card to validate your identity... <span ng-show="rfidPicturesModel.loadingPictures" class="glyphicon glyphicon-refresh glyphicon-spin"></span></h4>
            </div>
            <div class="row" style="display:flex; flex-wrap: wrap;" links id="vip">
                <div class="col-sm-6 col-md-3" ng-repeat="pictureUrl in rfidPicturesModel.vip">
                    <a class="thumbnail" ng-href="{{pictureUrl}}" data-gallery="blueimp-gallery-vip">
                        <img ng-src="{{pictureUrl}}">
                    </a>
                </div>
            </div>
        </tab>
    </tabset>
</div>